*.class
*.iml
*.jar
.cpcache/
.idea/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/native/
/resources/secrets.edn
/target/
gui-interactive.iml
pom.xml
pom.xml.asc
resources/2023-07-18T22:55:51.210155120_joystick_device_map.edn
